body {
  font-family: "Press Start 2P", cursive;

  a {
    color: #fff;
    text-decoration: none;
  }

  ul,
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  a:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }

  .ellipsis {
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
  }

  .container.is-dark .radio:checked + span::before {
    box-shadow: 2px 2px #ffffff, 4px 2px #ffffff, 2px 4px #ffffff,
      4px 4px #ffffff, 6px 4px #ffffff, 8px 4px #ffffff, 2px 6px #ffffff,
      4px 6px #ffffff, 6px 6px #ffffff, 8px 6px #ffffff, 10px 6px #ffffff,
      2px 8px #ffffff, 4px 8px #ffffff, 6px 8px #ffffff, 8px 8px #ffffff,
      10px 8px #ffffff, 12px 8px #ffffff, 2px 10px #ffffff, 4px 10px #ffffff,
      6px 10px #ffffff, 8px 10px #ffffff, 10px 10px #ffffff, 2px 12px #ffffff,
      4px 12px #ffffff, 6px 12px #ffffff, 8px 12px #ffffff, 2px 14px #ffffff,
      4px 14px #ffffff;
  }

  #ui {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    pointer-events: none;

    #bottom {
      pointer-events: all;
      height: 30%;
      max-height: 250px;
      min-height: 100px;
      width: 100%;
      //   background-color: #212529;
      //   color: #fff;
      position: absolute;
      bottom: 0;
      flex-direction: "row";

      h1 {
        margin: 0;
      }

      nav {
        height: 25%;

        .btn.active {
          background-color: #e7e7e7;
          box-shadow: inset -6px -6px #adafbc;
        }
      }

      section {
        height: 75%;
      }

      section.tab-content {
        color: #fff;
      }
    }
  }

  // UI Map

  #map {
    background: lightblue;
    width: 100%;

    #viewport {
      border: solid 1px yellow;
    }
  }

  // UI Units

  #units {
    display: flex;

    .container {
      flex: 1;
    }

    #collection {
      overflow-y: hidden;
      padding-bottom: 8;

      .scroll-container {
        overflow-y: scroll;
        height: 100%;
      }

      .item {
        &.selected {
          a {
            &::before {
              content: "> ";
            }
          }
        }

        a {
          display: block;
          padding-top: 8px;
          padding-bottom: 8px;

          &::before {
            content: "-  ";
          }
        }
      }
    }

    #individual {
    }

    #actions {
    }
  }
}
