#bottom {
  pointer-events: all;
  height: 25%;
  max-height: 200px;
  min-height: 100px;
  width: 100%;
  background-color: #000;
  color: #fff;
  position: absolute;
  bottom: 0;
  flex-direction: "row";

  h1 {
    margin: 0;
  }

  nav {
    height: 20%;
  }

  section {
    height: 80%;
  }
}
