#bottom {
  pointer-events: all;
  height: 25%;
  max-height: 200px;
  min-height: 100px;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 16px;
  position: absolute;
  bottom: 0;
}
